
/*color palette: http://paletton.com/#uid=15u0u0khirF7mJLckxtlHmYqlik*/


* {
	box-sizing: border-box;
}


#header {
	font-size: 50px;
	text-align: center;
	background-color: #CC5E76;
	color: white;
	padding: 20px;
	font-family: 'PT Sans', sans-serif;
}

#trainTimingHeader {
	font-size: 20px;
	background-color: #ED92A6;
	color: white;
	font-family: 'PT Sans', sans-serif;

}

tr th {
	font-weight: bold;
}

#table {
	clear: both;
	padding: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

th {
	font-weight: bold;
}

#formHeader {
	font-size: 20px;
	background-color: #ED92A6;
	color: white;
	font-family: 'PT Sans', sans-serif;
}

#submitForm {
	margin-top: 20px;
}

#formSub {
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
}